@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  --foreground-rgb: 31, 41, 55;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #FFFFFF;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}
